/* =========================
   UTILIDADES GENERALES
========================= */

/* Oculta visualmente, pero mantiene accesibilidad */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* =========================
   LOGO MI ECOMMERCE
========================= */

.header-logo {
    text-decoration: none;
    font-size: 28px;
    font-family: Arial, sans-serif;
}

.logo-mi {
    color: #0b8f83;
    font-weight: 700;
}

.logo-ecommerce {
    color: #26b7a7;
    font-weight: 300;
}

/* =========================
   REGISTER / LOGIN
========================= */

.register-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 40px 20px;

    background: linear-gradient(to bottom,
            #12b39e 0px,
            #12b39e 300px,
            #eeeeee 300px,
            #eeeeee 100%);

    min-height: 83vh;
}

.register-main a {
    color: black;
}

.register-card {
    width: 340px;
    padding: 32px;

    margin: 50px auto 0;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.register-card h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.register-card input {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 24px;

    box-sizing: border-box;
    font-size: 14px;
}

.register-card button {
    width: 100%;
    padding: 14px 18px;

    border: none;
    border-radius: 30px;

    background-color: #4f5a5d;
    color: white;

    cursor: pointer;
}

/* =========================
   HEADER HOME
========================= */

.header-home {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: #eeeeee ;
    border-bottom: 2px solid #d8d8d8;
  
}

.header-carrito-icono {
    width: 24px;
    height: 24px;
}

.header-buscador {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.header-buscador input {
    flex: 1;
    border: none;
    padding: 10px 14px;
    outline: none;
    /*evita que los elementos salgan de la zona*/
}

.header-buscador button {
    border: none;
    background: white;
    padding: 10px 14px;
    cursor: pointer;
}

/* =========================
FOOTER
========================= */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;

    background-color: #f2f2f2;
    border-top: 1px solid #d8d8d8;

    font-size: 12px;
    color: #9a9a9a;
}

footer a {
    color: #9a9a9a;
    text-decoration: none;
}

.footer-social img {
    width: 18px;
    height: 18px;
}

.footer-stores {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-stores img {
    width: 18px;
    height: 18px;
}

.footer-stores a {
    display: flex;
    align-items: center;
    gap: 6px;

    color: #999;
    text-decoration: none;
    font-size: 12px;
}

/*---------------------------
CATEGORY BAR
----------------------------*/
.category-bar {
    display: flex;
    background-color: #333;
    width: 80%;
    border-radius: 20px;
}

.category-bar a {
    flex: 1;
    /*las 8 categoria se reparten de forma pareja*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    color: white;
    text-decoration: none;
    padding: 30px;
    border-right: 1px solid #666;
    /*agregamos linea horizontal*/
}

/*borramos ultima barra*/
.category-bar a:last-child {
    border-right: none;
}

.category-bar img {
    width: 32px;
    height: 32px;
}

/*----------------------
FONDO DE MAIN
---------------*/
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    padding: 40px 20px;

    background: linear-gradient(to bottom,

            #eeeeee 0px,
            #eeeeee 300px,
            #12b39e 300px,
            #12b39e 600px,
            #eeeeee 600px,
            #eeeeee 100%);

    min-height: 83vh;
}

body {
    margin: 0;
}

/*--------------------------
PRODUCT HERO
-------------------*/
.product-heros {
    display: flex;
    gap: 20px;
    width: 90%;
    margin-top: 60px;
}

.product-hero {
    flex: 1;
}

.product-hero img {
    width: 100%;
    border-radius: 20px;
}

/*---------------------------
PRODUCT CARD
--------------------------------*/
.products-cards {
    display: grid;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    /*aclaramos cantidad de columnas*/
    max-width: 1100px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    height: 320px;
    overflow: hidden;
}

.product-card a {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: black;
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.product-info {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

/*añadimos linea de separacion*/
.product-info p {
    width: 35%;
    margin: 0;
    border-left: 1px solid #ccc;
    padding-left: 12px;
}

.product-info h3 {
    width: 65%;
    margin: 0;
}

/*--------------------------
PRODUCT PAGES
-----------------------------*/
.product-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    padding: 40px 20px;

    background: linear-gradient(to bottom, #eeeeee 100%);
    min-height: 83vh;
}

body {
    margin: 0;
}

.product-details {
    display: flex;
    padding: 15px;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: white;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
}

.product-gallery {
    display: flex;
    flex: 2;
    gap: 15px;
}

.miniaturas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.miniaturas img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

/*hijo directo solo modifica ese*/
.product-gallery > a {
    flex: 1;
}

.imagen-principal {
    width: 100%;
    max-width: 850px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    
}

.product-detail-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.boton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.product-price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin: 0;
}

.product-points {
    font-size: 38px;
    font-weight: bold;
}

.product-points-label {
    font-size: 16px;
}

.volver-listado {
    width: 85%;
}
.te-puede-interesar{
    width: 85%;
}
.product-pages .products-cards {
    width: 85%;
    max-width: none;
}
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 85%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.breadcrumb a{
    text-decoration: none;
    color: black;
}
